<ion-header>
  <ion-toolbar>
    <ion-title>
      10Dance Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/classroom.jpg" alt="Classroom">
    <ion-card-header>
      <ion-card-subtitle> Classroom Attendance Manager</ion-card-subtitle>
      <ion-card-title>@10Dance</ion-card-title>
      <ion-card-content>
        <p>
          @10Dance is an attentence application designed to help Sunday School
        </p>
      </ion-card-content>
      <ion-card-content>
        <a routerLink = "/roster" routerDirection="root">Go To Roster</a>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
